<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header>
    <div class="top-header">
        <div class="logo">
            <a href="/">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </a>
        </div>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <p class="center"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav>
        <ul class="principal">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="secundario">
            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>
<section class="banner">
    <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
</section>
<main>
    <form action="/" method="get" class="form_login">
        <!-- nombre usuario -->
        <div>
            <label for="nombreUsuario" class="label_login">Nombre de usuario:</label>
            <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre Usuario">
        </div>
        <!-- contraseña -->
        <div>
            <label for="password" class="label_login">Contraseña:</label>
            <input type="password" name="password" id="password" placeholder="Contraseña">
        </div>
        <!-- boton de enviar -->
            <button type="submit">Subir</button>
    </form>
</main>
<footer>
    <div class="footer_tarjetas">
        <i class="fas fa-credit-card"></i>
        <h2>
            Pagá con tarjeta o en efectivo
        </h2>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
    </div>
    <div class="footer_tarjetas">
        <i class="fas fa-gift"></i>
        <h2>
            Envío gratis desde $ 2.500
        </h2>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
    </div>
    <div class="footer_tarjetas">
        <i class="fas fa-user-shield"></i>
        <h2>
            Seguridad, de principio a fin
        </h2>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
    </div>
    <div class="derechos_de_autor">
        <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
    </div>
</footer>
</body>
</html>